<!-- public/views/index.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title><%= title %></title>

</head>
<body>

    <p>Проверка раз, два, три.</p>

</body>
</html>